<div class="login-100">

    <form class="formulario-l" (submit)="login($event)">
        <div class="titulo mb-4 mx-5">
            <h1 class="text-center mt-3">Bienvenidos a Piramide Objective</h1>
        </div>
        <div class="mx-md-3 mx-lg-5 mb-3">
            <label class="form-label" for="">Correo Electronico</label>
            <input class="form-control" type="email" name="" id=""
                placeholder="Correo electronico">
        </div>
        <div class="mx-md-3 mx-lg-5 mb-3">
            <label class="form-label" for="">Contraseña</label>
            <input class="form-control" type="password" name="" id=""
                placeholder="password">
        </div>
        <div class="mx-md-3 mx-lg-5 mt-3 mb-3">
            <button type="submit" class="btn btn-primary boton">login</button>
        </div>


        <div class="flex-col-c">
            <span class="txt1 p-b-17">
                ¿No tienes cuenta?
            </span>

            <!-- <a routerLink="/auth/registro" class="txt2"> -->
            <a class="txt2" routerLink="/auth/register">
                Crear una aquí
            </a>
        </div>

    </form>

</div>